@import "compass/css3/border-radius";
@import "rgbapng";

//html.normal {
html{
  background-color: #336699;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(10, 20, 60, 0.7));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(10, 20, 60, 0.7));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(10, 20, 60, 0.7)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(10, 20, 60, 0.7));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(10, 20, 60, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0, 0, 0, 0)', EndColorStr='rgba(10, 20, 60, 0.7)');
  background-attachment: fixed;
}

body {
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(100, 170, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(100, 170, 255, 0.1)), color-stop(0.75, rgba(100, 170, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(45deg, rgba(100, 170, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(100, 170, 255, 0.1) 50%, rgba(100, 170, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(100, 170, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(100, 170, 255, 0.1) 50%, rgba(100, 170, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(100, 170, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(100, 170, 255, 0.1) 50%, rgba(100, 170, 255, 0.1) 75%, transparent 75%, transparent);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  background-position: bottom right;
  -webkit-background-size: 150px 150px;
  -moz-background-size: 150px 150px;
  background-size: 150px 150px;
  background-attachment: fixed;
  padding-top: 3em;
}

header{
  margin: 0 auto;
  width: 940px;

  .rrumble-brand{
    color: #2FA4E7;
    background: -webkit-linear-gradient(#2FA4E7, #46AEEA);
      -webkit-background-clip: text;
    font-size: 3.5em;
    padding-left:10px;
    padding-top: 30px;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.3);

    a:hover, a:active {
      color: #3FB4F7;
      text-decoration: none;
    }
  }

  .helper-logo{
    color: #ddd;
    padding-left:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
  }

  .notice{
    @include border-radius(8px);
    @include rgba-background(rgba(255, 255, 255, .5));
    margin: 1.5em auto;
    border: 3px solid #ddd;
    color: #fff;
    padding: 10px;
    width: 800px;
    a{
      color: white;
      text-decoration: underline;
    }
  }

  .user{
    background-color: #224;
    background-color: rgba(20,20,40, 0.8);
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 2em;
    top: 0;
    width: 300px;

    .avatar{
      float: right;
      width: 40px;
      margin: 0.5em 2em 0.5em 1em;
      img{
        margin: 0.3em;
        padding: 1px;
        border: 1px solid #bbb;
      }
    }

    .deets{
      padding: 1em 2em 1em;
    }
  }
}
.normal .container{
  -webkit-box-shadow:0px -1px 3px rgba(0,0,20,0.3);
  box-shadow:0px -1px 3px rgba(0,0,20,0.3);
  clear: both;
  margin-top: 2em;
  border-top: 6px solid #2FA4E7;
  background: white;
  min-height: 600px;
  padding: 60px;

  width: 90%;
  max-width: 960px;
  .touch & {
    max-width: 800px;
  }
}

/*.splash body{*/
  /*padding-top: 0em;*/
  /*background-color: white;*/
  /*background-image: none;*/
  /*box-shadow: none;*/
/*}*/

footer {
  text-align: center;
  margin-top: 4em;
  padding-top: 1.4em;
  color: #fff;
  height: 50px;
  background-color: #2FA4E7;
     -webkit-box-shadow:0px 0px 3px rgba(0,0,20,1.0) inset;
  box-shadow:0px 0px 3px rgba(0,0,20,1.0) inset;
}

.normal footer .container{
  padding: 0px;
  background: none;
  border-top: 0px;
  box-shadow: none;
}

.spacer{
  padding-top: 5px;
}

h1 {
  color: #2FA4E7;
}

