.calendar{
  width: 80%;
  height: 700px;
  overflow: auto;

  overflow: auto;
  table.table-striped.table-bordered{
    width: 100%;

    tbody{
      tr th{
        font-size: x-small;
        vertical-align: super;
        text-align: center;
        font-weight: normal;
        padding-top: 0px;
        padding-bottom: 36px;
        position: relative;
        strong{
          margin-top: -10px;
          position: absolute;
          display: inline-block;
        }
      }

      tr{
        border-top: 1px dotted gray;
        &:nth-child(4n+4){
          border-top: 1px solid gray;
        }
        &:nth-child(4n+2){
          border-top: 2px solid black;
          border-top: 2px solid black;
        }
      }




      td.highlighted{
        html.touch &{
          background: blue;
        }
        background: rgba(100,100,155,0.25);
      }
      .day_6,.day_0{
        background: rgba(0,0,0,0.11);
      }

      td{
        width: 12%;
        border-left: 1px solid gray;
        padding: 0;
        margin: 0;
      }
      td input{
        display: none;
      }

    }
  }
}
