.calendar{

  position: relative;
  overflow: hidden;
  table{
    width: 100%;

    tbody{
      tr th{
        font-size: x-small;
        vertical-align: super;
        text-align: center;
        font-weight: normal;
        padding-top: 0px;
        padding-bottom: 36px;
        position: relative;
        strong{
          position: absolute;
          display: inline-block;
        }

      }

      tr{
        border-top: 1px dotted gray;
        &:nth-child(4n+3){
          border-top: 1px solid gray;
        }
        &:nth-child(4n+2){
          th strong{ display: none; }
        }
        &:nth-child(4n+1){
          border-top: 2px solid black;
          border-top: 2px solid black;
        }
        &:nth-child(4n){
          th strong{ display: none; }
        }
      }



      // Groups
      td{
        background: white;
        &.grouped.valid{
          background: rgba(90,0,20,0.35);
        }
        &.highlighted.grouped.valid{
          background: rgba(80,190,80,0.35);
        }
        &.highlighted.valid{
          background: rgba(0,190,80,0.35);
        }
        &.day_6, &.day_0{
          background: rgba(0,0,0,0.11);
        }
        &.highlighted.day_6, &.highlighted.day_0{
          background: rgba(0,190,80,0.45);
        }
      }

      // User timecards
      &.masked{
        td{
          background: rgba(0,0,0,0.05);
          &.grouped.valid{
            background: rgba(90,0,20,0.35);
          }
          &.highlighted.grouped.valid{
            background: rgba(180,0,60,0.35);
          }
          &.valid{
            background: rgba(0,190,80,0.05);
          }
          &.highlighted.valid{
            background: rgba(0,80,190,0.45);
          }
          &.day_6, &.day_0{
            background: rgba(0,0,0,0.11);
          }
          &.day_6.valid, &.day_0.valid{
            background: rgba(0,190,80,0.15);
          }
          &.highlighted.day_6, &.highlighted.day_0{
            background: rgba(0,80,190,0.55);
          }
        }
      }

      td{
        width: 12%;
        border-left: 1px solid gray;
        padding: 0;
        margin: 0;
      }
      td input{
        /* display: none; */
      }

    }
  }
  .table_wrapper.show_head{
    tbody{
      td, th, tr, th strong{
        line-height:0px; height:0px; max-height:0px;min-height:0px; overflow:hidden;
        margin-top:0;margin-bottom:0;
        padding-top:0;padding-bottom:0;
        /* border:none; same as TABLE border="0" */
        /* TABLE border="1" needs border:none; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; */
        border-top-width:0px;border-bottom-width:0px;
        min-height:0px; max-height:0px;
      }
      line-height:0px; height:0px; max-height:0px;min-height:0px;
      overflow:hidden;
      margin-top:0; margin-bottom:0;
      padding-top:0;  padding-bottom:0;
      z-index: -1;
      height: 0; overflow: hidden;
    }
    table{
      position: absolute;
      z-index: 1;
      top: 0;
      thead{
        background: white;
        td, th{ background: white; }
      }
    }
  }
  .table_wrapper.show_body{
    margin-top: 50px;
    height: 500px;
    overflow: auto;
    z-index: 0;
    thead{
      th { color: white; }
      height: 75px;
    }

    margin-top: 20px;
  }
}
