.calendar{
  width: 80%;

  overflow: auto;
  table.table-striped{
    width: 100%;

    tbody{
      tr th{
        font-size: small;
        vertical-align: super;
        padding-bottom: 10px;
      }

      tr{
        border-top: 1px dotted gray;
        &:nth-child(4n+4){
          border-top: 1px solid gray;
        }
        &:nth-child(4n+2){
          border-top: 2px solid black;
        }
      }




      td.highlighted{
        html.touch &{
          background: blue;
        }
        background: red;
      }

      td{
        width: 12%;
        border-left: 1px solid gray;
        padding: 0;
        margin: 0;
      }
      td input{
        display: none;
      }

    }
  }
}
