// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sarina{
  font-family: 'Sarina', cursive;
}

.sonsie-One{
  font-family: 'Sonsie One', cursive;
}

.splash h3{
  color: #2FA4E7;
}

span.freetime-blue{
  color: #2FA4E7;
}

.pxspacer20{
  padding-top:20px;
  background-color: #fff;
  padding: 1.5em 2em 1.5em 2em;
}

.selling-points{
  margin-top: 30px;
  background-color: #fff;
}

.selling-points h3 {
}

.selling-points p {
}



