// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sarina{
  font-family: 'Sarina', cursive;
}

.sonsie-One{
  font-family: 'Sonsie One', cursive;
}

.splash h3{
  color: #2FA4E7;
}

span.freetime-blue{
  color: #2FA4E7;
}

.pxspacer20{
  padding-top:20px;
  background-color: #fff;
  padding: 1.5em 2em 1.5em 2em;
  form {
    .slot_size{ display: none; }
  }
}

.selling-points{
  margin-top: 30px;
  padding: 3em 0;
  background-color: #fff;
   -webkit-box-shadow:0px -1px 3px rgba(0,0,20,0.3);
  box-shadow:0px -1px 3px rgba(0,0,20,0.3);
  clear: both;
  margin-top: 2em;
  border-top: 6px solid #2FA4E7;

}

.selling-points h3 {
}

.selling-points p {
}

.selling-points{

}



